.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fundo {
    width: 100%;
    background-color: #00d68f;


    &__img {
        width: 100%;
    }
}