.fundo {
    width: 100%;
    background-color: #00d68f;
    position: static;
}

img {
    width: 100%;
    height: 100%;
}

.ash {
    position: absolute;
    position: to-upper-case($string: "top");
}